
.biotic-menu-divider {
	margin: 0;
	background: var(--menu-border-color, #e9e9e9);
	border: none;
	height: 1px;
}

.biotic-menu-icon-wrapper {
	position: absolute;
	inset-inline-start: 0;
	inline-size: 2em;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
	block-size: 100%;
}

.biotic-menu-icon-wrapper svg {
	inline-size: 1em;
	block-size: 1em;
}

.biotic-menu-list {
	--_default-shadow: 0 1px 3px rgba(0,0,0,0.13), 0 1px 2px rgba(0,0,0,0.24);
	--default-padding: var(--size-1) 0;
	inline-size: var(--menu-width, calc(var(--size-2) * 34));
	max-inline-size: var(--menu-max-width, calc(100vw - 1em));
	background: var(--menu-bg, #fff);
	color: var(--menu-color, #444);
	border-color: var(--border-color);
	border: var(--border);
	box-shadow: var(--menu-box-shadow, var(--_default-shadow)) ;
	list-style-type: none;
	padding: var(--menu-padding, --default-padding);
	margin: 0;
}

.biotic-menu-list-item {
	position: relative;
}

.biotic-menu-list-item .biotic-menu-list {
	position: absolute;
	display: none;
}

.biotic-menu-list-item:hover .biotic-menu-list {
	display: block;
}

.biotic-menu-list-item-title {
	inline-size: 100%;
	background: none;
	border: none;
	text-align: left;
	font-size: var(--menu-font-size, 1em);
	padding-inline: 0.5em;
	padding-block: 0.4375em;
	padding-inline-end: var(--size-2);
	padding-inline-start: var(--size-2);
	display: flex;
	align-items: center;
	position: relative;
	color: inherit;
	text-decoration: none;
	user-select: none;
}

.biotic-menu-list-item-title span.arrow_right {
	position: absolute;
	right: 0;
	block-size: 100%;
}

.biotic-menu-list-item-title span.arrow_right svg {
	inline-size: 1.62em;
	block-size: 1.62em;
	margin-block-start: 0.2em;
}

.biotic-menu-list-item-title:hover {
	background: var(--menu-item-hover, rgba(230, 230, 230, 0.8));
}

.biotic-menu-list-item-title-submenu {
	padding-inline-end: 1.5em;	
}

.biotic-menu-list-item-title-icon {
	padding-inline-start: 2em;
}