
.accordion-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.accordion-title {
	background: none;
	border: none;
	flex-grow: 0;
	cursor: pointer;
	padding: calc(var(--size-2) / 2) var(--size-2);
}

.accordion-content {
	padding: var(--size-2);
}

.accordion-content--open {
	padding: calc(var(--size-2) / 2);
}