
:root {
	/* Spacing */
	--baseline: 8px;
	--baseline-half: calc(var(--baseline) * 0.5);
	--baseline-2: calc(var(--baseline) * 2);
	--baseline-3: calc(var(--baseline) * 3);
	--baseline-4: calc(var(--baseline) * 4);
	--baseline-5: calc(var(--baseline) * 5);

	/* Shadows */
	--shadow-1: 0 1px 3px rgba(0,0,0,0.13), 0 1px 2px rgba(0,0,0,0.24);
	--shadow-2: 0 3px 5px rgba(0,0,0,0.16), 0 3px 5px rgba(0,0,0,0.23);
	--shadow-3: 0 8px 21px rgba(0,0,0,0.21), 0 5px 5px rgba(0,0,0,0.23);
	--shadow-4: 0 13px 34px rgba(0,0,0,0.25), 0 8px 8px rgba(0,0,0,0.21);
	--shadow-5: 0 21px 55px rgba(0,0,0,0.34), 0 21px 13px rgba(0,0,0,0.21);

	/* Scrollbar */
	--scrollbar-thumb: #909090;
	--scrollbar-track: #e9e8f3;


	/* Colors */
	--cyan: #8be9fd;	
  	--green: #50fa7b;	
  	--orange: #ffb86c;	
  	--pink: #ff79c6;
  	--purple: #bd93f9;
  	--red: #ff5555;	
  	--yellow: #f1fa8c;
  	--magenta: #f0f;

  	--color-error: #D8000C;

  	/* Border */
  	--border-color: #e9e9e9;
  	--border: 1px solid var(--border-color);

  	/* Misc */
	--backdrop: rgba(63, 63, 63, 0.1);

	/* Panel */

	--basement-color: rgba(0,0,0, 0.2);
	--basement: inset 0 0 calc(var(--baseline) * 16) var(--baseline-5) var(--basement-color);
}

html {
	height: 100%;
	box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin-top: 0;
}

html,
#root,
body {
	margin: 0;
	height: 100%;
	line-height: 1.5;
	font-family: var(--font-copy);
}

p {
	margin-bottom: 1.25em;
	max-width: 37em;
	margin-top: -0.125em;
}

p + p {
	margin-top: -0.25em;
}

label {
	line-height: 1.5;
	margin-bottom: 0.5em;
}

h1, h2, h3, h4, h5 {
  margin-bottom: var(--baseline);
  margin-top: 0;
  font-family: var(--font-headline);
  font-weight: 400;
  line-height: 1.5;
  font-weight: bold;
}

h1 {
  font-size: 1.802em;
  margin-bottom: 0.75em;
}

h2 {
	font-size: 1.602em;
}

h3 {
	font-size: 1.424em;
	line-height: 1.8;
	margin-bottom: 0.1875em;
}

h4 {
	font-size: 1.266em;
}

h5,
h6 {
	font-size: 1em;
}

small,
.text_small {
	font-size: 0.75em;
}
