
:root {
	/* Scrollbar */
	--scrollbar-thumb: #909090;
	--scrollbar-track: #e9e8f3;

	/* Colors */
	--cyan: #8be9fd;	
	--green: #50fa7b;	
	--orange: #ffb86c;	
	--pink: #ff79c6;
	--purple: #bd93f9;
	--red: #ff5555;	
	--yellow: #f1fa8c;
	--magenta: #fe55fe;
	--foreground: #f8f8f2;
	--background: #282a36;
	--active: #44475a;
	--muted: #6272a4;

	--blue: #2557e9;
	--color-error: var(--red);

	/* Border */
	--border-color: #e9e9e9;
	--border: 1px solid var(--border-color);

  /* Misc */
	--backdrop: rgba(63, 63, 63, 0.1);

	/* Panel */
	--basement-color: rgba(0,0,0, 0.2);
	--basement: inset 0 0 calc(var(--size-2) * 16) var(--size-7) var(--basement-color);
}

html {
	height: 100%;
	box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin-block-start: 0;
}

html,
#root,
body {
	margin: 0;
	block-size: 100%;
	line-height: 1.5;
	font-family: var(--font-copy);
	padding: 0;
}
