
:root {
	--baseline: 8px;
	--baseline-half: calc(var(--baseline) * 0.5);
	--baseline-2: calc(var(--baseline) * 2);
	--baseline-3: calc(var(--baseline) * 3);
	--baseline-4: calc(var(--baseline) * 4);
	--baseline-5: calc(var(--baseline) * 5);
}