
.biotic-text-ellipsis {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.biotic-text-clamp {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: var(--clamp-lines, 1);
	overflow: hidden;
}

.biotic-text-error {
	color: var(--color-error);
	text-align: center;
}

.biotic-text-small {
	font-size: 0.75em;
}

.biotic-text-muted {
	color: var(--muted);
}
