
.ellipsis {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.clamp {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: var(--clamp-lines, 1);
	overflow: hidden;
}

.error {
	color: var(--color-error);
	text-align: center;
}

.small {
	font-size: 0.75em;
}

.muted {
	color: var(--muted);
}